<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwException="true" publicLogToConsole="true">

  <variable name="msg" value="${message} ${onexception:${newline}${exception:maxInnerExceptionLevel=10:format=tostring,data}}"/>
  <variable name="verbose_inline" value="${replace-newlines:replacement=\r\n\t:${msg}}"/>
  <variable name="verbose" value="[${date:format=MM.dd HH\:mm\:ss.fff} ${uppercase:${level}:padding=-1:fixedLength=true}&lt;${pad:padCharacter=0:padding=2:fixedLength=true:inner=${threadid}}&gt;] ${pad:padding=-40:fixedLength=true:inner=${callsite:className=False:fileName=True:includeSourcePath=False:methodName=True:cleanNamesOfAnonymousDelegates=False}} ${verbose_inline}"/>

  <variable name="logDir" value="${basedir}" />

  <targets async="true">
    <target name="console" xsi:type="ColoredConsole" layout="${verbose}"/>
    <target name="asyncFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
      <target name="file" xsi:type="File" fileName="${logDir}\log\service.log"
       layout="${verbose}"
         maxArchiveFiles="50"
         archiveAboveSize="10485760"
         archiveNumbering="Rolling"
         concurrentWrites="true"
         enablearchivefilecompression="true"
         archiveFileName="${logDir}\log\service.{##}.zip"/>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Trace" final="true" />
    <logger name="*" minlevel="Debug" writeTo="console,asyncFile" />

  </rules>

</nlog>
